:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  
  background: linear-gradient(to bottom, #ffffff, #e0e0e0);
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) { 
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
.url-shortener-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: auto;
  max-width: 600px;
  background-color: white; 
  border: 2px solid white;   
  border-radius: 10px;       
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.url-shortener-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
}

.url-shortener-form label {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

.url-shortener-form input, 
.url-shortener-form select {
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.url-shortener-form button {
  padding: 10px;
  background-color: rgb(81, 149, 236);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.url-shortener-form button:hover {
  background-color: #0056b3;
}

.short-url-container {
  margin-top: 20px;
}

.short-url-container a {
  color: #007BFF;
  text-decoration: none;
}

.short-url-container a:hover {
  text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 600px) {
  .url-shortener-form {
    width: 100%;
  }

  .url-shortener-container {
    padding: 10px;
    
  }
}

/* Footer Styles */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 25px;
  background-color: rgb(81, 149, 236);
  color: #ffffff;
  padding: 10px 0;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: right;
  align-items: right;
  margin: 0 auto;
  padding: 0 20px;
}

.icons {
  display: flex;
  column-gap: 25px;
  align-items: center;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  text-decoration: none;
  font-size: 26px;
  color: #fff;
  border-radius: 50%;
  outline: 2px solid #fff;
  transition-property: outline-offset, outline-color;
  transition-duration: 0.25s;
}

.icon:hover {
  outline-offset: 4px;
   color: #fff;
}

.icon i {
  margin: auto;
}

.icon:hover i {
  animation: shake 0.25s;
  background-color: transparent; 
}

@keyframes shake {
  10% {
    transform: rotate(15deg);
  }
  20% {
    transform: rotate(-15deg);
  }
  30% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-15deg);
  }
}

.tooltip-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip-icon {
  font-size: 18px;
  color:  rgb(81, 149, 236)
}

.tooltip-message {
  position: absolute;
  bottom: 120%; 
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  white-space: nowrap;
  font-size: 14px;
  opacity: 0.9;
  z-index: 1;
}

.tooltip-message::after {
  content: '';
  position: absolute;
  top: 100%; 
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}